/* Header */

/* ───────────────────────────── */
/* OBECNÉ NASTAVENÍ HLAVIČKY */
/* ───────────────────────────── */

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

/* ───────────────────────────── */
/* VELIKOSTI LOGA A NADPISU */
/* ───────────────────────────── */

.header-logo .img-logo {
  height: 200px;
  width: auto;
  transition: height 0.3s ease;
}

.header-logo .img-title {
  height: 150px;
  width: auto;
  transition: height 0.3s ease;
}

/* ───────────────────────────── */
/* MOBILNÍ VERZE */
/* ───────────────────────────── */

@media (max-width: 600px) {
  .header-logo {
    height: 20px
  }

  .header-logo .img-logo {
    height: 60px;
  }

  .header-logo .img-title {
    height: 40px;
  }
}






/* Footer */

footer {
  background-color: #ffffff;
  color: #0077cc;
  text-align: center;
  padding: 1.2rem 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  border-top: 1px solid #0077cc;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.04);
}

footer p {
  margin: 0;
}
